<div class='row'>
  <div class='col-md-3'>
    <div class="wrapper">

      <div id='formContent' class=''>
  
        <div id='RegisterNote' class='note'>
          <div class='row'>
            <div class='col-md-12'>
              <i class='material-icons dashboard-icons float-left' onclick=''>reorder</i>
            </div>
          </div>
        </div>

        <button routerLink="/dashboard">Dashboard</button>
        <button routerLink="/profile">Profiel</button>
        <button routerLink="/verzoek">Verzoeken</button>
        <button routerLink="/producten">Producten</button>

        <div id="formFooter">
            <a class="underlineHover" routerLink="/login-page">Log uit</a>
          </div>
      </div>
      
    </div>
  </div>
  <div class='col-md-9'>
    <div class="wrapper child-wrapper fadeInDown">

      <div id='formContent' class=''>

          <div id='RegisterNote' class='note fadeIn first'>
              <div class='row'>
                <div class='col-md-12'>
                  <p>Beheerder Toevoegen</p>
                </div>
              </div>
            </div>

            <div class="container emp-profile">
                <form method="post">
                    <div class="row">
                      <div class='col-md-12'>
                        <input type="text" [(ngModel)]="Docent.email" name="email" id="docentEmail" placeholder="Email" required/>
                        <input type="text" [(ngModel)]="Docent.naam" name="naam" id="docentNaam" placeholder="Naam" required/>
                        <input type='password' [(ngModel)]="Docent.password" name="password" id="docentPassword" placeholder="Password" required>
                        <button (click)="createBeheerder()">Opslaan</button>
                      </div>
                    </div>
                </form>           
            </div>
      </div>
    </div>
  </div>
</div> 